/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: #be4d25;
  text-align: center;
  margin: 0;
}

.btn {
  display: block;
  color: white;
  background-color: #be4d25;
  border: 1px solid white;
  height: 30px;
  width: 90px;
  border-radius: 3px;
  margin: auto;
}

.btn:hover{
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  width: 300px;
  margin: 5px auto;
  text-decoration: none;
}


h1, h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  color: white;
}

a{
  text-decoration: none;
}

label {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: white;
}

textarea{
  display: block;
  background-color: #be4d25;
  border: 1px solid white;
  border-radius: 3px;
  color: white ;
  margin: 20px auto;
  padding: 10px;
  font-size: 14px;
}

::placeholder{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

input {
  font-family: 'Roboto', sans-serif;
}

.option {
  float: right;
}

.far, .fas {
  color: white;
  width: 30px;
  height: 30px;
}

.yellow {
  color: yellow
}

.flash {
  background-color: yellow;
  font-family: 'Roboto', sans-serif;
  padding: 2px;
  margin: 2px;
  border-radius: 3px;
}

